@model IEnumerable<DATA_LAYER.BLModels.BLVideo>

@{
    var dataPage = ViewBag.DataPage;
    var dataSize = ViewBag.DataSize;
    var dataSizes = ViewBag.DataSizes;
    var totalPages = ViewBag.TotalPages;
}


<h1>Search</h1>


<form asp-controller="Video" asp-action="Search" method="get">
    
    <div class="form-group col-6">
        <label class="control-label">Search</label>
        <input class="form-control" type="search" placeholder="start writing" name="searchText" value="@ViewBag.SearchText"/>
    </div>
    

    <div class="form-group col-6">
        <label class="control-label">Page size</label>
        <select class="form-control" asp-for="@dataSize" asp-items="@dataSizes">
            <option value=""> ---Please choose page size--- </option>
        </select>
    </div>

    <div class="form-group col-6">
        <div class="form-group col-6">
            <label class="control-label">Page index:</label>
            <input type="search" asp-for="@dataPage" placeholder="page index" class="form-control" />
        </div>
    </div>

    <div class="btn-toolbar">
      <div class="btn-group mt-3">
          @for(int i=0; i <= totalPages; i++)
            {
                var btnClass = (i != dataPage) ? "btn-outline-primary" : "btn-primary";
                <a asp-action="Search" asp-route-dataPage="@i" asp-route-dataSize="@dataSize" class="btn @btnClass">@(i + 1)</a>
            }
      </div>
    </div>


    <div class="btn-group mt-3">
        <button type="submit" class="btn btn-primary" value="true" name="search">Search</button>
    </div>

    <div class="btn-group mt-3">
        <button asp-action="CreateVideo" class="btn btn-primary">Create New</button>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSeconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreamingUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamingUrl)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditVideo", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "DeleteVideo", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
